@font-face {
  font-family: primaryFont;
  src: url(../public/Game\ of\ Thrones.ttf);
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: primaryFont;
  font-size: 0.75rem;
  letter-spacing: 2px;
  background: linear-gradient(
    to left,
    #1e130c,
    #9a8478
  );
  text-align: center;
}
.App .header{
  height: 35vh;
  max-width: 100%;
  background-image: url("../images/game-of-thrones-wallpaper-preview.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.quote-container{
  margin: 2em auto 3em;
  color: white;
  line-height: 2;
  max-width: 60%;

}
.quote-container .quote-cite{
  font-size: 0.75rem;
}